<div class="d-flex flex-wrap position-relative">
  <div *ngFor="let financeType of financeTypes"
       class="p-4 finance-card"
       (click)="selectFinanceType(financeType.id, $event)"
       [ngClass]="{'isOpened': financeType.isSelected}"
       [@hideCard]="financeType.isVisible ? 'visible' : 'hidden'"
       [@moveCard]="{ value: financeType.isSelected ? 'end' : 'start', params: {cardXPosition: cardXPosition, cardYPosition: cardYPosition}}">
    <div class="d-flex flex-column p-4 card-container" [@toggleCard]="cardToggle">
      <div class="d-flex justify-content-between">
        <img [src]="financeType.image" [alt]="financeType.name" class="finance-image">
        <div class="button-container d-flex justify-content-end">
          <button class="btn btn-primary back-to-selection align-self-end" (click)="backToSelection()" [@expandContent]="financeType.isSelected ? 'end' : 'start'">
            Back to Selection
          </button>
        </div>
      </div>
      <div class="text-container" [@toggleText]="cardToggle">
        <h2 class="my-4">{{financeType.name}}</h2>
        <p>{{financeType.description}}</p>
      </div>
    </div>
  </div>
</div>
