@import '~bootstrap/scss/bootstrap-grid.scss';


.finance-card {
  width: 50%;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &.isOpened {
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }

  .card-container {
    background: white;
    border-radius: 4px;
    height: 620px;
    pointer-events: none;

    .finance-image {
      height: 320px;
      width: 370px;
    }

    .text-container {
      overflow: hidden;
    }

    .button-container {
      pointer-events: all;
      overflow: hidden;
    }
  }
}

@include media-breakpoint-down(md) {
  .finance-card {
    width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .finance-card {
    .card-container {
      .finance-image {
        height: 350px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .finance-card {
    .card-container {
      .finance-image {
        height: 200px;
      }
    }
  }
}
