@import '~bootstrap/scss/bootstrap-grid.scss';

.finance-card {
  width: 50%;

  &.selected {
    transition: width 300ms;
    transition-delay: 300ms;
    width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .finance-card {
    width: 100%;
  }
}
